.relative {
  position: relative
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-20 {
  margin-bottom: 5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mb-\[15\] {
  margin-bottom: 15
}

.flex {
  display: flex
}

.table {
  display: table
}

.hidden {
  display: none
}

.h-24 {
  height: 6rem
}

.h-full {
  height: 100%
}

.w-24 {
  width: 6rem
}

.w-64 {
  width: 16rem
}

.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-full {
  border-radius: 9999px
}

.bg-\[\#62ABEF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(98 171 239 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.pb-\[10\] {
  padding-bottom: 10
}

.pt-5 {
  padding-top: 1.25rem
}

.pt-\[15\] {
  padding-top: 15
}

.pt-\[350\] {
  padding-top: 350
}

.text-center {
  text-align: center
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.text-\[\#62ABEF\] {
  --tw-text-opacity: 1;
  color: rgb(98 171 239 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
